{% extends 'layouts/application.html' %}
{% set title = user.name %}

{% block content %}
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
	  <h1>
		{{ gravatar_for(user)|safe }}
		{{ user.name }}
	  </h1>
    </section>
    <section class="stats">
      {% include 'shared/stats.html' %}
    </section>
  </aside>
  <div class="col-md-8">
	{% if logged_in() %}
    {% include 'users/follow_form.html'%}
	{% endif %}
    {% if microposts %}
    <h3>Microposts ({{ user.microposts.count() }})</h3>
    <ol class="microposts">
	  {% for micropost in microposts %}
      {% include 'microposts/micropost.html' %}
	  {% endfor %}
    </ol>

	{{ pagination.links }}
    {% endif %}
  </div>
</div>
{% endblock %}
